.remove-stock {
	display: flex;
	background-color: rgb(243, 241, 241);
}
.remove-stock button {
	background: rgb(225, 17, 17);
}

.remove-stock button:hover,
.remove-stock button:focus {
	background: rgb(175, 13, 13);
}

.display {
	width: 40vw;
	min-height: 20rem;
	margin: 2rem auto;
	padding: 1rem 0;
	border-radius: 5px;
}

@media only screen and (max-width: 1240px) {
	.display {
		width: 50vw;
	}
}

@media only screen and (max-width: 1024px) {
	.display {
		width: 60vw;
	}
}

@media only screen and (max-width: 768px) {
	.display {
		width: 70vw;
	}
}

@media only screen and (max-width: 600px) {
	.display {
		width: 85vw;
	}
}
