ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.stock-levels {
	display: flex;
	flex-direction: column;
	background-color: rgb(243, 241, 241);
	padding: 0 2rem;
}

.stocklist {
	padding: 0 2rem;
}

.product {
	box-sizing: border-box;
}

.display {
	width: 40vw;
	min-height: 20rem;
	margin: 2rem auto;
	padding: 1rem 0;
	border-radius: 5px;
}

@media only screen and (max-width: 1240px) {
	.display {
		width: 50vw;
	}
}

@media only screen and (max-width: 1024px) {
	.display {
		width: 60vw;
	}
}

@media only screen and (max-width: 768px) {
	.display {
		width: 70vw;
	}
}

@media only screen and (max-width: 600px) {
	.display {
		width: 85vw;
	}
}
